@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', serif;
  background-color: var(--soft-gray);
  color: var(--dark-charcoal);
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0.2px;
}

section {
  padding: var(--section-padding) 20px;
  max-width: var(--max-width);
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.5px;   /* keeps large serif elegant */
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 500;
}

p {
  color: var(--muted-text);
  font-size: 1rem;
}