@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: var(--soft-gray);
  color: var(--dark-charcoal);
  line-height: 1.6;
}

section {
  padding: var(--section-padding) 20px;
  max-width: var(--max-width);
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

p {
  color: var(--muted-text);
}